.init-button{
     display: flex; 
     align-items: center; 
     justify-content: center;
    text-align: center;
    padding: 1rem;
    font-size: 1rem;

}

.init-button img{
    padding: 0.5rem;
    
}